* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: rgb(255, 144, 31);
}
body {
  overflow-x: hidden;
}
.page-body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/background1.gif);
  background-size: 150%;
  background-position: center;
}

.page-title {
  text-align: center;
  font-size: 3rem;
  background: linear-gradient(to right, rgb(140, 30, 255), rgb(255, 144, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.page-header div {
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.page-header p {
  margin-top: 18px;
  font-size: 1.2rem;
  color: rgb(255, 144, 31);
}

.signup-button:hover {
  text-decoration: underline;
  cursor: pointer;
  background-color: rgb(255, 0, 157);
  color: rgb(255, 144, 31);
}
.signup-button {
  cursor: pointer;
  margin: 10px 30px 0 20px;
  height: 5em;
  width: 13em;
  border-radius: 7px;
  color: rgb(140, 30, 255);
  background-color: transparent;
  font-size: 15px;
  border: rgb(255, 0, 157) 2px solid;
  transition: 0.5s;
}
footer {
  background-color: purple;
  width: 100vw;
  height: 150px;
  color: white;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-box {
  text-align: center;
  display: flex;
  flex-direction: column;

  margin-top: -50px;
  padding: 75px;
  width: 65rem;
  height: 40rem;
  /* background-color: blue; */
  border-radius: 20px;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 55%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  border-radius: 20px;
  padding: 40px;
  color: white;
}
.login-box .credentials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.credentials input {
  color: black;
  width: 23em;
  height: 40px;
  /* border-radius: 7px; */
  margin: 15px 0 10px 0;
  padding: 5px;
  border: none;
  border-bottom: 1px dotted black;
}
.credentials input:focus {
  border-color: none;
  color: rgb(130, 10, 209);
  outline: none;
}
.credentials input:first-child {
  margin-top: -10px;
}
.login-button {
  margin-top: 15px;
  align-self: center;
  height: 40px;
  width: 8em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: rgb(140, 30, 255);
  border: rgb(255, 0, 157) 2px solid;
  background-color: transparent;
  font-size: 20px;
  transition: 0.5s;
}

.login-button:hover {
  background-color: rgb(255, 0, 157);
  color: rgb(255, 144, 31);
}

.login-options {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.login-options a {
  margin: 10px;
  text-decoration: none;
  color: rgb(255, 144, 31);
}
.login-options a:hover {
  text-decoration: underline;
  color: pink;
}
.login-title {
  margin-bottom: 30px;
  font-size: 2rem;
}
.divisor {
  display: flex;
  justify-content: space-between;
}
.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.signup h1 {
  font-size: 2rem;
}
.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  height: 35rem;
  background: linear-gradient(
    rgb(247, 226, 37),
    rgb(194, 61, 128),
    rgb(35, 25, 88)
  );
  border-radius: 8px;
}
.register-form h1 {
  font-size: 2.5rem;
}
.result {
  text-align: center;
  font-size: 1.5rem;
}
.two-form {
  margin: 20px 0;
  width: 30em;
  display: flex;
  justify-content: space-around;
}
.two-form input {
  width: 15em;
  height: 3.5em;
  padding: 5px;
}
.one-form {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.one-form input {
  width: 33em;
  height: 3.5em;
  padding: 5px;
}
.special-form {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 15px 0 15px;
}
.special-form select {
  width: 15em;
}
.special-form input {
  height: 50px;
  font-size: 18px;
  width: 13em;
}
.birthday-input {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
}
.submit-button {
  margin-top: 50px;
  height: 100 px;
  display: flex;
  justify-content: center;
}
.submit-button input {
  height: 50px;
  width: 100px;
  border-radius: 6px;
}
.form-center {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
.close-page {
  display: flex;
  justify-content: flex-end;
  margin-left: 350px;
  color: red;
  cursor: pointer;
}
/* CODIGO PARA RESPONSIVIDADE ABAIXO */
@media (max-width: 700px) {
  .divisor {
    flex-direction: column;
  }
  .login-box {
    width: 100%;
  }
  .signup {
    margin-top: 50px;
  }
  .credentials input {
    width: 17em;
  }
  .page-title {
    font-size: 2rem;
  }
  .center {
    font-size: 3.5rem;
  }
  .page-body {
    background-size: 450%;
    background-position: center;
  }
  .register-form {
    width: 20rem;
    height: 45rem;
  }
  .two-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .two-form input {
    width: 20em;
    margin: 0 0 8px 0;
  }
  .one-form input {
    width: 20em;
  }
  .special-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .special-form select {
    margin: 20px 0 0 0;
    height: 3em;
  }
  .sub-button {
    margin: 0 0 5px 0;
  }
  .close-page {
    margin-left: 220px;
  }
}
